@import "../../styles/mixin";
@import "../../styles/colors";

.section {
  background-color: $lightest-gray;
  height: auto;
}

.content {
  width: 100%;
  max-width: 647px;
  margin: auto;
  padding: 112px 0;
  @include mobile() {
    padding: 44px 0;
  }
  .header {
    margin-bottom: 44px;
    &__title {
      font-weight: 200;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -.32px;
      color: $gray;
      margin-bottom: 8px;
    }
    &__subtitle {
      font-weight: 200;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: .8px;
      color: $gray;
    }
  }
}