.position-relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.reverse-mobile {
  @include mobile() {
    flex-direction: column-reverse;
  }
}
